.search-filter-box {
  display: flex;
  gap: 20px;
  margin: 15px 0 20px 0;
}

.search-input {
  flex: 1;
  padding: 12px 15px;
  border-radius: 12px;
  border: 1px solid #d1d5db;
  outline: none;
  font-size: 15px;
}

.sort-dropdown {
  padding: 12px 15px;
  border-radius: 12px;
  border: 1px solid #d1d5db;
  background-color: #fff;
}
